<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>知了查询</title>
<style type="text/css">
a:link {
text-decoration: none;
}
a:visited {
text-decoration: none;
}
a:hover {
text-decoration: none;
}
a:active {
text-decoration: none;
}
</style>
</head>
<body>
	<button onclick="getESData()">搜素</button><input type="text" id="keyword" name="keyword" /><br />
	<div id="data">
	</div>
	<script type="text/javascript" src="/js/jquery-2.1.1.js"></script>
	<script type="text/javascript">
		function getESData() {
			var keyword = $('#keyword').val() ;
			$.get('http://localhost:8899/api/search/hospital',{
					keyword:keyword
				},function(data){
					var content="";
					$.each(data,function(index,item){
						content += "<h4><a href=api/search/resource/{"+item.uuid+"}>"+item.name+"</a></h4>"+"<h5>"+item.mark+"</h5>" ;
					});
					$("#data").html(content) ;
				})
		}
	</script>
</body>
</html>